{% extends "base.html" %}
{% block title %}Insert Client{% endblock %}
{% block body %}

<div class="container">
    <h2>Anagrafica Cliente</h2>

    <form method="POST" enctype="multipart/form-data"
        action="{{ url_for('home.insert_client')}}">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
</div>
{% endblock %}